#!/bin/bash

PROMETHEUS_RW_URL="http://{{ hostvars[groups['role_monitoring_server'][0]]['private_ip'] }}:9090/api/v1/write"

cd /home/ec2-user/k6
sh ./run.sh "{{ target_url }}" "{{ target_server_type }}" "$PROMETHEUS_RW_URL" 