# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.backup

# .tfvars files
*.tfvars
*.tfvars.json

# Crash log files
crash.log
crash.*.log

# Exclude all .tfstate files
*.tfstate
*.tfstate.*

# .terraform.lock.hcl
.terraform.lock.hcl

# override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# private key files
*.pem 