version: '3.8'

services:
  prometheus:
    image: prom/prometheus:v2.53.0
    volumes:
      - /home/ec2-user/prometheus:/etc/prometheus
    ports:
      - "9090:9090"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--web.enable-remote-write-receiver'

  grafana:
    image: grafana/grafana:11.1.0
    ports:
      - "3000:3000"
    volumes:
      - /home/ec2-user/grafana:/var/lib/grafana 