global:
  scrape_interval: 1s
  evaluation_interval: 1s

scrape_configs:
  - job_name: 'file_sd_scrape'
    file_sd_configs:
      - files:
          - '/etc/prometheus/prometheus_targets.json'
    relabel_configs:
      # Use the 'job' label from the JSON file as the real job label.
      - source_labels: [job]
        target_label: job
      # Set the instance label to the target's address.
      - source_labels: [__address__]
        target_label: instance
