{%- set targets = [] %}
{# Dynamically add all App Servers #}
{%- for host in groups['role_app_servers'] %}
  {%- set scenario_upper = hostvars[host]['scenario_type'] | upper %}
  {%- set _ = targets.append({'targets': [hostvars[host]['private_ip'] ~ ':' ~ (node_exporter_port | default(9100))], 'labels': {'server': scenario_upper, 'job': 'node_exporter'}}) %}
  {%- set _ = targets.append({'targets': [hostvars[host]['private_ip'] ~ ':' ~ (nginx_exporter_port | default(9113))], 'labels': {'server': scenario_upper, 'job': 'nginx_log_exporter'}}) %}
  {%- set _ = targets.append({'targets': [hostvars[host]['private_ip'] ~ ':' ~ (cadvisor_port | default(8080))], 'labels': {'server': scenario_upper, 'job': 'cadvisor'}}) %}
{%- endfor %}

{# Dynamically add all Load Generators #}
{%- for host in groups['role_load_generators'] %}
  {%- set scenario_upper = hostvars[host]['scenario_type'] | upper %}
  {%- set _ = targets.append({'targets': [hostvars[host]['private_ip'] ~ ':' ~ (node_exporter_port | default(9100))], 'labels': {'server': 'LG_' ~ scenario_upper, 'job': 'node_exporter'}}) %}
{%- endfor %}

{# Monitoring Server (static) #}
{%- for host in groups['role_monitoring_server'] %}
  {%- set _ = targets.append({'targets': [hostvars[host]['private_ip'] ~ ':' ~ (node_exporter_port | default(9100))], 'labels': {'server': 'MON', 'job': 'node_exporter'}}) %}
{%- endfor %}

{{ targets | to_json(indent=2) }}